@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.core();

// -----------------------------------------------------------------------------------------------------
// @ Custom palettes
// -----------------------------------------------------------------------------------------------------

$black-palette: mat.define-palette(
    (
        50: #e0e0e0,
        100: #c6c6c6,
        200: #919191,
        300: #5e5e5e,
        400: #303030,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #ffffff,
        A200: #f2f2f2,
        A400: #cccccc,
        A700: #a6a6a6,
        contrast: (
            50: black,
            100: black,
            200: white,
            300: white,
            400: white,
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
            A100: black,
            A200: black,
            A400: black,
            A700: black,
        ),
    )
);

$white-palette: mat.define-palette(
    (
        50: #303030,
        100: #5e5e5e,
        200: #919191,
        300: #c6c6c6,
        400: #f9f9f9,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
        contrast: (
            50: black,
            100: black,
            200: black,
            300: black,
            400: black,
            500: black,
            600: black,
            700: black,
            800: black,
            900: black,
            A100: black,
            A200: black,
            A400: black,
            A700: black,
        ),
    ), 500
);

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

$cinzel-font: 'Cinzel', serif;
$garamond-font: 'EB Garamond', serif;

$typography: mat.define-typography-config(
    $headline-1: mat.define-typography-level(96px, 96px, 300, $cinzel-font),
    $headline-2: mat.define-typography-level(60px, 60px, 300, $cinzel-font),
    $headline-3: mat.define-typography-level(48px, 48px, 400, $cinzel-font),
    $headline-4: mat.define-typography-level(34px, 40px, 400, $cinzel-font),
    $headline-5: mat.define-typography-level(24px, 32px, 400, $cinzel-font),
    $headline-6: mat.define-typography-level(20px, 32px, 500, $cinzel-font),
    $subtitle-1: mat.define-typography-level(16px, 28px, 400, $garamond-font),
    $subtitle-2: mat.define-typography-level(14px, 24px, 500, $garamond-font),
    $body-1: mat.define-typography-level(16px, 24px, 400, $garamond-font),
    $body-2: mat.define-typography-level(14px, 20px, 400, $garamond-font),
    $button: mat.define-typography-level(14px, 14px, 500, $garamond-font),
    $caption: mat.define-typography-level(12px, 20px, 400, $garamond-font),
    $overline: mat.define-typography-level(10px, 16px, 400, $garamond-font),
);

@include mat.all-component-typographies($typography);

// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// -----------------------------------------------------------------------------------------------------

$accent-palette: mat.define-palette($white-palette);
$warn-palette: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme(
    (
        color: (
            primary: $black-palette,
            accent: $accent-palette,
            warn: $warn-palette,
        ),
        typography: $typography,
    )
);

@include mat.all-component-themes($theme);

body.theme-default {
    $palettes: (
        primary: $black-palette,
        accent: $accent-palette,
        warn: $warn-palette,
    );
}
