<!-- TODO: Animar entrada dos componentes na tela -->
<div class="page-layout animation-fade-in" id="ficha-de-personagem-page-layout">
    <div class="header">
        <div class="flex">
            <div class="imagem-personagem">
                <img [src]="srcImagemPersonagem$ | async" alt="Imagem Personagem" />
            </div>

            <div class="informacoes-personagem-wrapper">
                <h1>
                    {{ personagem?.informacoes?.nome }}
                    <div class="bg-white rounded-full size-2"></div>
                    Nível {{ personagem?.informacoes?.nivel }}
                </h1>
                <span>{{ descricaoPersonagemJogador }}</span>
                <span class="mt-2">{{ nomeJogador }}</span>
            </div>
        </div>

        <div class="action-button-wrapper">
            <!-- TODO: Corrigir hover dos botões -->
            <button mat-mini-fab color="primary">
                <mat-icon>menu</mat-icon>
                <span class="button-label">MENU DE AÇÕES</span>
            </button>

            <button mat-mini-fab color="primary">
                <mat-icon>settings</mat-icon>
            </button>

            <button mat-mini-fab color="primary" [ngSwitch]="telaCheia$ | async" (click)="trocarEstadoTelaCheia()">
                <mat-icon *ngSwitchDefault>fullscreen</mat-icon>
                <mat-icon *ngSwitchCase="true">fullscreen_exit</mat-icon>
            </button>

            <button mat-mini-fab color="warn" (click)="sairDaPlataforma()">
                <mat-icon *ngIf="(loading$ | async) === false">exit_to_app</mat-icon>
                <mat-spinner *ngIf="loading$ | async" [diameter]="22" color="accent"></mat-spinner>
            </button>
        </div>
    </div>

    <div *ngIf="personagem" class="content">
        <div class="content-layout">
            <div class="grid-wrapper">
                <div class="atributos-e-pontos">
                    <div class="atributos">
                        <atributo-component
                            *ngFor="let atributo of listaAtributos"
                            [nome]="atributo.toUpperCase()"
                            [valorTotal]="personagem.atributos[atributo].valorTotal"
                            [modificadores]="personagem.atributos[atributo].modificadores"
                            [modificadoresTemporarios]="personagem.atributos[atributo].modificadoresTemporarios" />

                        <div class="placeholder"></div>
                    </div>

                    <div class="placeholder"></div>
                </div>

                <mat-tab-group class="detalhes" color="accent">
                    <mat-tab label="Ataques" bodyClass="tab-detalhes-content">
                        <listagem-ataques-component />
                    </mat-tab>

                    <mat-tab label="Magias" bodyClass="tab-detalhes-content"></mat-tab>
                    <mat-tab label="Poderes" bodyClass="tab-detalhes-content"></mat-tab>
                    <mat-tab label="Inventário" bodyClass="tab-detalhes-content"></mat-tab>
                </mat-tab-group>
            </div>

            <pericias-component [pericias]="personagem.pericias" />
        </div>
    </div>
</div>
