<!-- TODO: Animar entrada dos componentes na tela -->
<div class="page-layout animation-fade-in" id="ficha-de-personagem-page-layout">
    <div class="header">
        <div class="flex">
            <div class="imagem-personagem">
                <img [src]="srcImagemPersonagem$ | async" alt="Imagem Personagem" />
            </div>

            <div class="informacoes-personagem-wrapper">
                <h1>
                    {{ personagem?.informacoes?.nome }}
                    <div class="bg-white rounded-full size-2"></div>
                    Nível {{ personagem?.informacoes?.nivel }}
                </h1>
                <span>{{ descricaoPersonagemJogador }}</span>
                <span class="mt-2">{{ nomeJogador }}</span>
            </div>
        </div>

        <div class="action-button-wrapper">
            <!-- TODO: Corrigir hover dos botões -->
            <button mat-mini-fab color="primary">
                <mat-icon>menu</mat-icon>
                <span class="button-label">MENU DE AÇÕES</span>
            </button>

            <button mat-mini-fab color="primary">
                <mat-icon>settings</mat-icon>
            </button>

            <button mat-mini-fab color="primary" [ngSwitch]="telaCheia$ | async" (click)="trocarEstadoTelaCheia()">
                <mat-icon *ngSwitchDefault>fullscreen</mat-icon>
                <mat-icon *ngSwitchCase="true">fullscreen_exit</mat-icon>
            </button>

            <button mat-mini-fab color="warn" (click)="sairDaPlataforma()">
                <mat-icon *ngIf="(loading$ | async) === false">exit_to_app</mat-icon>
                <mat-spinner *ngIf="loading$ | async" [diameter]="22" color="accent"></mat-spinner>
            </button>
        </div>
    </div>

    <div class="content">
        <div class="grid-principal">
            <div class="grid-wrapper">
                <div class="atributos">
                    <atributo-component
                        nome="FOR"
                        [valorTotal]="personagem?.atributos?.for?.valorTotal ?? 0"
                        [modificadores]="personagem?.atributos?.for?.modificadores ?? []"
                        [modificadoresTemporarios]="personagem?.atributos?.for?.modificadoresTemporarios ?? []" />

                    <atributo-component
                        nome="DES"
                        [valorTotal]="personagem?.atributos?.des?.valorTotal ?? 0"
                        [modificadores]="personagem?.atributos?.des?.modificadores ?? []"
                        [modificadoresTemporarios]="personagem?.atributos?.des?.modificadoresTemporarios ?? []" />

                    <atributo-component
                        nome="CON"
                        [valorTotal]="personagem?.atributos?.con?.valorTotal ?? 0"
                        [modificadores]="personagem?.atributos?.con?.modificadores ?? []"
                        [modificadoresTemporarios]="personagem?.atributos?.con?.modificadoresTemporarios ?? []" />

                    <atributo-component
                        nome="INT"
                        [valorTotal]="personagem?.atributos?.int?.valorTotal ?? 0"
                        [modificadores]="personagem?.atributos?.int?.modificadores ?? []"
                        [modificadoresTemporarios]="personagem?.atributos?.int?.modificadoresTemporarios ?? []" />

                    <atributo-component
                        nome="SAB"
                        [valorTotal]="personagem?.atributos?.sab?.valorTotal ?? 0"
                        [modificadores]="personagem?.atributos?.sab?.modificadores ?? []"
                        [modificadoresTemporarios]="personagem?.atributos?.sab?.modificadoresTemporarios ?? []" />

                    <atributo-component
                        nome="CAR"
                        [valorTotal]="personagem?.atributos?.car?.valorTotal ?? 0"
                        [modificadores]="personagem?.atributos?.car?.modificadores ?? []"
                        [modificadoresTemporarios]="personagem?.atributos?.car?.modificadoresTemporarios ?? []" />
                </div>

                <div class="pontos-wrapper">
                    <div class="pontos-de-vida">Pontos de Vida</div>
                    <div class="pontos-de-mana">Pontos de Mana</div>
                    <div class="defesa">Defesa</div>
                </div>
            </div>

            <div class="ataques-e-magias">Ataques e Magia</div>

            <div class="detalhes">Poderes</div>

            <div class="equipamentos">Equipamentos</div>

            <div class="inventario">Inventário</div>
        </div>

        <div class="pericias">Perícias</div>
    </div>
</div>
